.banner img {
    height: 400px;
    width: 100%;
    object-fit: fill;
    filter: brightness(0.7);
}

.banner {
    position: relative;
    width: 100%;
}

.text-content {
    position: absolute;
    left: 20px;
    bottom: 50%;
    color: #fff;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}